@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  background-image: url(../img/wall.jpg);
  font-family: 'Source Code Pro', serif;
  padding: 150px 0 0 0;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 35px;
  width: 100%;
  padding: 10px;
  font-family: 'Source Code Pro', serif;
  font-size: 1.25em;
  background-color: #0f0f0f;

}

h2 {
  font-family: 'VT323', serif;
}

h3 {
  margin: 10px 0 5px 0;
  font-size: 22px;
}

a {
  color: #86FA00;
  text-decoration: underline;
}

a:hover {
  color: #DEFDBB;
}

footer a {
  color: #86FA00;
  text-decoration: none;
}

footer a:hover {
  color: #DEFDBB;
  text-decoration: none;
}

footer a:visted {
  color: #86FA00;
  text-decoration: none;
}

#headshot {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

#meeting_jumbo {
  background: rgba(30, 30, 30, .7);
  border: 1px solid #ddd;
}

#meeting_jumbo h2 {
  margin-top: 0px;
  font-family: 'VT323', serif;
}
.assignment_box {
  color: #86FA00;
  height: 350px;
  border: 1px #ddd solid;
  overflow: auto;
}

.assignment_box h3 {
  margin-bottom: 10px;
}

.assignment_box p {
  margin-top: 10px;
  line-height: 120%;
  font-size: .9em;
}

.assignment_img {
  margin-top: 10px;
}

.page-header a {
  color: #86FA00;
  text-decoration: none;
}

.page-header a:hover {
  color: #DEFDBB;
  text-decoration: none;
}

.page-header a:visted {
  color: #86FA00;
  text-decoration: none;
}

.page-header {
  position: fixed;
  top: 0px;
  left: 0px;
  color: #86FA00;
  margin: 0;
  width: 100%;
  border: none;
  background-color: #0f0f0f;
  z-index: 3;
}

.page-header h1 {
  margin: 0;
  font-size: 2em;
  font-family: 'VT323', serif;
  margin-left: 8.3333333%;
  width: 83.3333333%;
  border-bottom: #86FA00 1px solid;
  font-weight: 400;

}

.main-subtitle{
  margin-left: 8.333333%;
  font-family: 'Source Code Pro', serif;

}

.main-content {
  font-size: 1.25em;
  margin: 0;
  padding: 0 0 50px 0;
  overflow: auto;
  height: 100%;
}

.class_meeting {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.content-column{
  padding: 0;
  color: #86FA00;
}

.content-column-multiple{
  padding: 0 15px 0 0;
  color: #86FA00;
}

.course_nav a {
  display: block;
  padding-right: 10px;
  margin: 0;
  width: 100%;
  border-top: 1px #ddd solid;
  padding: 8px;
  text-decoration: none;
}

.course_nav a:hover {
  background-color: #86FA00;
  color: rgba(0,0,0,0.8);
}

.course_nav {
  width: 100%;
}

.endcap {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: #ddd 1px solid;
}

.secondary_nav {
  margin-left: 8.3333333%;
  width: 83.3333333%;
}

.secondary_nav li {
  display: inline-block;
  margin: 0;
}

.secondary_nav a {
  display: block;
  padding-right: 10px;
  margin: 0;
  width: 100%;
}

.secondary_nav a:hover {
  background-color: #86FA00;
  color: rgba(0,0,0,0.8);
}
