<!DOCTYPE HTML>
<html>
<head>
{% include meta.html %}
</head>
<body>
{% include header.html %}
<div class="main-content">
<div class="container">
  <h2> {{page.title}} </h2>
  <div class="postDate">{{page.date | date: '%B %d, %Y'}}</div>
  {{content}}

  <h3>Comments</h3>

  {% assign comments = site.data.comments[page.slug] %}
  {% for comment in comments %}
    <div class="comment">
      <h4>Comment by: <em>{{comment[1].name}}</em> on <em>{{comment[1].date | date: "%a: %b %d, %Y" }}</em></h4>
      <p>{{ comment[1].message}}</p>
    </div>
  {% endfor %}


  <div id="comment_form">
    <h4>Leave a comment!</h4>
    <form method="POST" action="https://api.staticman.net/v2/entry/afamiglietti/afamiglietti.github.io/master/comments">
      <input name="options[redirect]" type="hidden" value="http://copyvillain.org{{page.url}}">
      <!-- e.g. "2016-01-02-this-is-a-post" -->
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <div class="form-group">
        <label for="fields_name">Name</label>
          <input name="fields[name]" class="form-control" type="text" id="fields_name">
        </div>
      <div class="form-group">
        <label for="fields_email">E-mail</label>
        <input name="fields[email]" type="email" class="form-control" id="fields_email">
      </div>
      <div class="form-group">
        <label for="fields_message">Message</label>
        <textarea name="fields[message]" class="form-control" id="fields_message" rows=3></textarea>
      </div>
      <button type="submit">Add your comment</button>
    </form>
  </div>
</div>
</div>
{% include footer.html %}
</body>
</html>
